body {
	padding: 25px;
	background-image: url(https://raw.githubusercontent.com/robrollner/TriviaGame/master/assets/images/backgroundImage.jpeg);
}
#titleBox {
	border: 5px ridge black;
	text-align: center;
	color: yellow;
	background: rgba(15, 25, 45, 0.65); 
}

#questionBox {
	text-align: center;
	font-size: 25px;
	background: rgba(15, 25, 45, 0.65); 
	color: yellow;
	border: 5px ridge black;
	height: 200px;
	clear: both;
}

#timer {
	text-align: center;
	font-size: 125px;
	background: rgba(15, 25, 45, 0.65); 
	color: yellow;
	border: 5px ridge black;
	height: 200px;
}

#playerScore {
	text-align: center;
	font-size: 25px;
	background: rgba(15, 25, 45, 0.65); 
	color: yellow;
	border: 5px ridge black;
	height: 200px;
}

.btn {
	background: rgba(15, 25, 45, 0.65); 
	color: yellow;
	border: 5px ridge black;
}

#resultGif {
	height: 190px;
	width: 240px;
	float: left;
	box-sizing: border-box;
	
}